<!DOCTYPE html>
<html>

<head>
    <title>CV</title>
    <link href="/style/style.css" rel="stylesheet" />
    <link href="/style/materialize.css" rel="stylesheet" />
</head>

<body>
    <div class="header">Header</div>
             <button id="btn" style="z-index:99;">Slide it</button>
            <button id="btn-out" style="z-index:99;">Slide OUT</button>
    <div class="main-body">
        
        <div class="main" id="main">
            <div class="card">
                <p class="flow-text">Teste</p>
            </div>
   
        </div>
        <div class="bot " id="bot">


          <h4></h4>

          <div class="row">
              <div class="input-field col s12">

                    <input id="chatInput" type="text" placeholder="Write your message here.." style="color:white;" onkeypress="return newEvent(event);"/>
                    
              </div>
          </div>

            
            
        </div>
    </div>

    <div class="footer">Footer</div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/materialize.js"></script>
    <script src="/scripts/scripts.js"></script>
</body>

</html>